.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.TaskCard {
  color: white;
  font-size: 1%;
  width: 100px;
	height: 100px;
	background: lightblue;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.TaskLabel {
  color: red;
}

.TaskInput {
  border-radius: 10%;
  margin-left: .5%;
}
